:host
  .header
    padding: 10px
    border: 2px solid lightgrey
  .response-container
    display: flex
    border: 2px solid lightgrey
  .response-container > div
    flex: 1 1 auto
  .response-container > div:not(:last-child)
    border-right: 2px solid lightgrey
  .response-header
    border-bottom: 2px solid lightgrey
    padding: 10px
  .response-value
    padding: 10px
  .jwt-token
    width 30%
  .jwt-token > .response-value
    overflow-wrap break-word
  .error-message
    text-align center
    background-color darkred
    color: white
    padding: 10px
    margin-top: 10px
