:host
  .input-container
    margin-top: 16px
    position: relative
  .input-container:after
    display:block
    position: absolute
    bottom: 0
    content: ''
    width: 100%
    border-bottom: solid 2px rgb(65, 168, 201)
    transform: scaleX(0)
    transition: transform 250ms ease-in-out
  &.active
    label
      color: rgb(65, 168, 201)
    .input-container:after
      transform: scaleX(1)
  &.incorrect
    label
      color: #C51162
    .input-container:after
      border-color #C51162
      transform: scaleX(1)
  &.correct
    label
      color: #08b0699e
    .input-container:after
      border-color #08b0699e
      transform: scaleX(1)
  label
    padding 2px 10px
  input
    width 100%
    padding 10px
    font-size 18px
    font-weight 400
    box-sizing: border-box
    border:none
    border-bottom: 1px solid darkgrey
    outline: none
  .error-message
    margin 2px 0
    padding: 4px
    color: white
    background-color #C51162

