<span class="name">Authorization Guide</span>
<div [class.menu-active]="menuActive" class="menu-container">
    <button (mySubmit)="toggleMenu()" class="menu-button" #menu><app-icon ic="menu"></app-icon></button>
    <div class="menu">
        <button *ngIf="!authState.token" (mySubmit)="submit()">Войти</button>
        <button *ngIf="authState.token" (mySubmit)="logout()">Выйти</button>
        <button *ngIf="!appState.showLogger" (mySubmit)="appState.showLogger = true">Показать логи</button>
        <button *ngIf="appState.showLogger" (mySubmit)="appState.showLogger = false">Убрать логи</button>
        <button>Инфо</button>
    </div>
</div>