<div class="container">
    <app-header></app-header>
    <div class="content">
        <app-navigation></app-navigation>
        <div [style.transform]="'translateY('+ navigationState.pageOffset + 'vh)'" class="page-content">
            <div class="page">
                <div *ngIf="!authState.token" class="auth-content">
                    <div class="block-1">
                        <p>Довольно важной задачей при разработке веб-сайтов и веб-приложений есть ограничение доступа к некоторым разделам сайта, например к панели администратора. В теории это достаточно сложный процесс, с трема составляющими - аутентификация, идентификация и авторизация (англ. authentication, identification, authorization).</p>
                    </div>
                    <app-signup></app-signup>
                </div>
                <div *ngIf="authState.token" class="work-content">

                </div>
            </div>
            <div class="page">

            </div>
            <div class="page">

            </div>
        </div>
    </div>
</div>
<app-auth *ngIf="authState.showAuthDialog"></app-auth>