<div *mobxAutorun class="container">
    <app-header></app-header>
    <div class="content">
        <app-navigation></app-navigation>
        <div [style.transform]="'translateY('+ navigationState.pageOffset + 'vh)'" class="page-content">
            <div class="page page-1">
                <div *ngIf="!authState.token" class="auth-content">
                    <div class="block-1">
                        <h1>Authorization guide. Узнай больше о web-безопасности</h1>
                        <p>Довольно важной задачей при разработке веб-сайтов и веб-приложений есть ограничение доступа к некоторым разделам сайта, например к панели администратора. В теории это достаточно сложный процесс, с трема составляющими: </p>
                        <ul>
                            <li>аутентификация (англ. authentication)</li>
                            <li>идентификация (англ. identification)</li>
                            <li>авторизация (англ. authorization)</li>
                        </ul>
                        <p>Данное приложение отображает основы работы, такие как:</p>
                        <ul>
                            <li>Методы HTTP (PUT, GET, DELETE, POST)</li>
                            <li>oAuth</li>
                            <li>JWT tokens</li>
                            <li>Политика безопасности по ролям</li>
                        </ul>
                        <p>Всю подробную информацию можете найти здесь</p>
                    </div>
                    <app-signup></app-signup>
                </div>
                <app-todo-area *ngIf="authState.token"></app-todo-area>
                <app-todo-logger [loggs]="loggerState.loggs"></app-todo-logger>
            </div>
            <div class="page">
                <h1>What is JSON Web Token?</h1>
                <article>JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information between parties as a JSON object. This information can be verified and trusted because it is digitally signed. JWTs can be signed using a secret (with the HMAC algorithm) or a public/private key pair using RSA.</article>
                <article>Although JWTs can be encrypted to also provide secrecy between parties, we will focus on signed tokens. Signed tokens can verify the integrity of the claims contained within it, while encrypted tokens hide those claims from other parties. When tokens are signed using public/private key pairs, the signature also certifies that only the party holding the private key is the one that signed it.</article>
                <h1>Let's explain some concepts further.</h1>
                <article>
                    <ul>
                        <li><b>Compact:</b> Because of their smaller size, JWTs can be sent through a URL, POST parameter, or inside an HTTP header. Additionally, the smaller size means transmission is fast.</li>
                        <li><b>Self-contained:</b> The payload contains all the required information about the user, avoiding the need to query the database more than once.</li>
                    </ul>
                </article>
                <h1>When should you use JSON Web Tokens?</h1>
                <article>
                    <ul>
                        <li><b>Authentication:</b> This is the most common scenario for using JWT. Once the user is logged in,
                            each subsequent request will include the JWT, allowing the user to access routes, services,
                            and resources that are permitted with that token. Single Sign On is a feature that widely
                            uses JWT nowadays, because of its small overhead and its ability to be easily used across
                            different domains.
                        </li>
                        <li><b>Information Exchange:</b> JSON Web Tokens are a good way of securely
                            transmitting information between parties. Because JWTs can be signed—for example,
                            using public/private key pairs—you can be sure the senders are who they say they are.
                            Additionally, as the signature is calculated using the header and the payload, you can also verify that the content hasn't been tampered with.
                        </li>
                    </ul>
                </article>
                <h1>What is the JSON Web Token structure?</h1>
                <article>
                    In its compact form, JSON Web Tokens consist of three parts separated by dots (.), which are:
                    <ul>
                        <li>Header</li>
                        <li>Payload</li>
                        <li>Signature</li>
                    </ul>
                    Therefore, a JWT typically looks like the following.
                    <b>xxxxx.yyyyy.zzzzz</b>
                </article>
                <article>Read more: <a target="_blank" href="https://jwt.io/introduction/">https://jwt.io/introduction/</a></article>
            </div>
            <div class="page">
                <h1>Ролевая политика безопасности</h1>
                <article><b>Ролевая политика безопасности</b> представляет собой существенно усовершенствованную модель Харрисона–Руззо–Ульмана, однако ее нельзя отнести ни к дискреционным, ни к мандатным моделям.</article>
                <article>В ролевой политике безопасности классическое понятие субъекта заменяется понятиями пользователь и роль. </article>
                <article><b>Пользователь</b> – это человек, работающий с системой и выполняющий определенные служебные обязанности, а с понятием роли связывается набор полномочий, необходимых для выполнения этих служебных обязанностей.</article>
            </div>
        </div>
    </div>
</div>
<app-popup>
    <app-auth *ngIf="appState.showAuthDialog"></app-auth>
    <app-create-todo *ngIf="appState.showCreateDialog"></app-create-todo>
    <app-update-todo *ngIf="appState.showUpdateDialog" [todo]="appState.updateTodo"></app-update-todo>
</app-popup>