body
  padding 0
  margin 0
app-main
  app-header
    background-color: rgba(0,0,0,.5)
    position: fixed
    padding 0 6vw
    box-sizing: border-box
    width: 100vw
    height: 6vh
    z-index: 1
    span
      color: white
      font-size: 24px
      user-select none
    app-icon
      width 30px
      height 30px
      & > *
        width inherit
        height inherit
        fill white
    .menu
      background-color: rgba(0,0,0,.5)
      button
        border 1px solid white
        color: white
      & :hover
          background-color white
          color rgba(0,0,0,.5)
  .content
    display: flex
    width: 100vw
    height: 100vh
    overflow-y: hidden
    background-color whitesmoke
    app-navigation
      padding 6vh 1vw
      display flex
      flex-direction column
      justify-content space-around
    .page-content
      transition: transform 0.5s;
      width 100vw
      .page
        margin-top 9vh
        padding: 0 6vw
        height: calc(100vh - 9vh)
        overflow auto
        font-size: 18px
      .page-1
        display flex
        justify-content space-between
        .auth-content
          display: flex
      pre
        background-color #e2e2e2
        border: 1px solid #ccc