body
  padding 0
  margin 0
app-main
  color #818185
  font-family 'Lato', sans-serif, Arial, Helvetica
  font-size 16px
  app-header
    background-color: #00bbd2
    position: fixed
    padding 0 6vw
    box-sizing: border-box
    width: 100vw
    height: 6vh
    z-index: 1
    span
      color: white
      font-size: 24px
      user-select none
    .name:first-letter
      color: red
    app-icon
      width 30px
      height 30px
      & > *
        width inherit
        height inherit
        fill white
      & :hover
        fill #818185
    .menu
      background-color: #00bbd2
      button
        border 1px solid white
        color: white
      & :hover
          background-color white
          color rgba(0,0,0,.5)
  .content
    display: flex
    width: 100vw
    height: 100vh
    overflow-y: hidden
    background-color whitesmoke
    app-navigation
      padding 9vh 1vw
      display flex
      flex-direction column
      justify-content space-between
    .page-content
      transition: transform 0.5s;
      width 100vw
      .page
        margin-top 9vh
        padding: 0 6vw
        height: calc(100vh - 9vh)
        overflow auto
        img
          border-radius: 12px
        h1
          color: #00bbd2
      .page-1
        display flex
        justify-content space-between
        .auth-content
          display: flex
      pre
        background-color #e2e2e2
        border: 1px solid #ccc
        white-space: pre-wrap