:host
  padding 0 2vw
  form
    height: auto
    display: flex
    flex-direction: column
    align-items: center
    transition: height 3s ease-out
  .error-message
    color: #C51162
    margin: 10px 0;
