<div class="user-info">
    <h2 class="name">Имя: {{authState.user.firstname}}</h2>
    <h2 class="lastName">Фамилия: {{authState.user.lastname}}</h2>
    <h2 class="role">Роль: {{authState.user.role}}</h2>
</div>
<div class="todo-list-container">
    <div class="todo-list-header">
        <h1>Список дел</h1>
    </div>
    <mat-progress-spinner *ngIf="isLoading" [diameter]="60"
                          [strokeWidth]="10"
                          [mode]="'indeterminate'"
                          [value]="30">
    </mat-progress-spinner>
    <div [class.isLoading]="isLoading" class="todo-list">
        <div class="tab">
            <button (mySubmit)="setTab(0)" [class.active]="tab===0">Все задачи</button>
            <button (mySubmit)="setTab(1)" [class.active]="tab===1">Выполнено</button>
        </div>
        <div [formGroup]="formGroup" class="list">
            <div *ngFor="let todo of todos | async" [class.selected] = "isChecked(todo._id)" [class.completed]="todo.status==='completed'" class="item">
                <div><input [formControlName]="todo._id" type="checkbox"></div>
                <div class="task-name">{{todo.name}}</div>
                <div class="status">{{todo.status}}</div>
                <button *ngIf="authState.accessUpdate" (mySubmit)="updateTodo(todo)"><app-icon ic="edit"></app-icon></button>
            </div>
        </div>
        <div class="button-content">
          <button *ngIf="authState.accessCreate" (mySubmit)="appState.showCreateDialog = true">Создать</button>
          <button *ngIf="authState.accessDelete" (mySubmit)="deleteTodos()">Удалить</button>
        </div>
    </div>
</div>

