<div [class.active]="isActive" [formGroup]="datepickerFormGroup" class="datepicker">
    <div #datepickerContainer>
        <input type="text"
               [textMask]="{mask: mask}"
               (focus)="onInputFocus()"
               (keyup)="onTextChanged()"
               formControlName="input"
               class="input" #input>
        <div *ngIf="isActive" [ngSwitch]="currentView">
            <div class="toggler">
                <div (click)="toggleView()" class="toggler-full-month">
                    <div class="date-info">
                        {{monthWithYear}}
                    </div>
                    <div class="arrow arrow-down"></div>
                </div>
                <div class="toggler-month">
                    <div (click)="goBack()" class="arrow arrow-back"></div>
                    <div (click)="goNext()" class="arrow arrow-next"></div>
                </div>
            </div>
            <div *ngIf="isMonthCurrentView" class="days-header">
                <div *ngFor="let headerDay of headerDays" class="day-name">
                    {{headerDay}}
                </div>
            </div>
            <hr/>
            <div *ngSwitchCase="'month'" class="month-content">
                <div *ngFor="let offset of offsetDays" class="offset-day">{{offset}}</div>
                <div *ngFor="let day of days" [class.selected-item]="isSelectedDate(day)" (click)="selectDay(day)" class="day-item"><div class="day-value">{{day}}</div></div>
            </div>
            <div *ngSwitchCase="'year'" class="year-content">
                <div *ngFor="let month of months, let i = index" [class.selected-item]="i === currentMonth" (click)="selectMonth(i)" class="month-item"><div class="month-value">{{month}}</div></div>
            </div>
        </div>
    </div>
</div>