$item-size = 60px;
$value-fontsize = 28px;
$day-header-fontsize = 20px;
$day-name-color = #808080;
$black = #000000;
$magenta = #E20074;
$grey = #F2F2F2;
$monthColumns = 7;
$yearColumns = 3;
$container-box-shadow = 0 10.7px 16.7px rgba(1,0,0,0.16);
$container-width = 480px;
app-datepicker
  .datepicker
    background-color: #FFFFFF
    box-shadow: $container-box-shadow
    width: $container-width
    user-select: none
    overflow: hidden
    margin-left: 50px //так отступ
  .days-header, .month-content, .year-content
    display: flex
    flex-wrap wrap
  .days-header
    margin: auto
    width: $item-size * 7
  .month-content
    width: $item-size * 7
    margin: auto
  .year-content
    padding 10px
  .day-item, .offset-day
    width:  (100% / $monthColumns)
    height: $item-size
    display: flex
  .day-item:hover
    cursor: pointer
    background-color: $grey
  .day-value, .day-name
    text-align: center
  .day-value
    font-size: $value-fontsize
    margin: auto
  .day-name
    width:  (100% / $monthColumns)
    font-size: $day-header-fontsize
    color: $day-name-color
  .month-item
    width:  (100% / $yearColumns)
    height: $item-size
    display: flex
    cursor: pointer
    padding 0 10px
    box-sizing: border-box
  .month-item:hover
    background-color: $grey
  .month-value
    font-size: $value-fontsize
    margin: auto 0
  .selected-item, .selected-item:hover
    background-color: $magenta
    color: white
  .arrow
    width: 15px
    height: 15px
    transform: rotate(45deg)
    border: 4px solid transparent
  .arrow-down
    border-right-color: $magenta
    border-bottom-color: $magenta
  .arrow-next
    border-right-color: $magenta
    border-top-color: $magenta
  .arrow-back
    border-left-color: $magenta
    border-bottom-color: $magenta
  .toggler
    display: flex
    justify-content: space-between
    padding: 33px 20px 24px 20px
  .toggler-full-month
    display: flex
    .date-info
      font-size: $value-fontsize
      color: $black
      margin-right: 30px
  .toggler-month
    display: flex