$day-item-size = 60px;
$value-fontsize = 28px;
$day-header-fontsize = 20px;
$day-name-color = #808080;
$black = #000000;
$magenta = #E20074;
$dayCount = 7;
$container-box-shadow = 0 16px 25px rgba(1,0,0,0.16);
$container-width = 480px;
app-datepicker
  .datepicker
    background-color #FFFFFF
    box-shadow: $container-box-shadow
    width $container-width
    margin-left 50px
  .days-header, .days-content
    display: grid
    grid-template-columns: repeat($dayCount, $day-item-size)
  .day-value, .day-name
    text-align center
  .day-item
    height $day-item-size
    display flex
  .day-value
    font-size $value-fontsize
    margin auto
  .day-name
    font-size $day-header-fontsize
    color $day-name-color
  .arrow
    width 15px
    height 15px
    transform rotate(45deg)
    border 4px solid transparent
  .arrow-down
    border-right-color $magenta
    border-bottom-color $magenta
  .arrow-next
    border-right-color $magenta
    border-top-color $magenta
  .arrow-back
    border-left-color $magenta
    border-bottom-color $magenta
  .toggler
    display flex
    justify-content space-between
    padding 33px 28px 24px 20px
  .toggler-full-month
    display flex
    .date-info
      font-size $value-fontsize
      color $black
      margin-right 30px
  .toggler-month
    display flex