:host
  button
    border none
    outline none
    cursor pointer
    font-size 16px
  .tab
    display flex
    justify-content space-around
    button
      width 100%
      padding 10px
      background-color transparent
      border-bottom 2px solid #e8e8e8
    & .active
        border-color #08b0699e
        color #08b0699e
  .tab-content-container
    display flex
  .auth-close
    padding-left 20px
