app-todo-logger
  max-width: 50%
  height: calc(90vh)
  font-size 18px
  margin 0 20px
  .logger-container
    background-color lightgoldenrodyellow
  .req-res
    box-shadow: 1px 1px 37px 0 #00bbd2
  .req, .res
    display flex
    flex-direction column
    margin 10px
    app-icon
      width 40px
      height 40px
      & > *
        width 20px
        height 20px
        fill #00bbd2
  .req
    text-align right
  .res
    text-align left
  .short
    white-space nowrap
  .long
    white-space unset
    word-break break-all