app-todo-logger
  height: calc(90vh)
  min-width 40%
  font-size 18px
  border 2px solid lightgrey
  background-color lightgoldenrodyellow
  margin 0 20px
  .req, .res
    display flex
    flex-direction column
    margin 10px
  .req
    text-align right
  .res
    text-align left
  .short
    white-space nowrap
  .long
    white-space unset
    word-break break-all