app-todo-logger
  width 500px
  height 500px
  font-size 18px
  overflow auto
  border 2px solid lightgrey
  background-color lightgoldenrodyellow
  margin 0 20px
.req, .res
    display flex
    flex-direction column
    margin 10px
  .req
    text-align right
  .res
    text-align left