<div class="logger-container">
    <div class="req-res">
        <div class="req">
            <span><b>Request URL:</b> bla-bla-bla</span>
            <span><b>Request Method:</b> bal-bla-bla</span>
            <span><b>Status Code:</b> 200 OK</span>
            <span><b>Request Headers:</b></span>
            <span><b>authorization:</b> dsgdsgdgdsggdgds</span>
        </div>
        <div class="res">
            <span><b>Response:</b></span>
            <pre class="body">
                ffasfasfasfasfs
            </pre>
        </div>
    </div>
</div>