<h1>Создание самоподписанного сертификата</h1>
<p>В наши дни очень часто для повышения безопасности сетевых соединений или просто для аутентификации используются ssl сертификаты. Одна из самых популярных свободных программ для создания сертификатов - это OpenSSL. Это утилита командной строки, которая позволяет создавать различные виды сертификатов, например, PKI или HTTPS.</p>
<p>В данной работе мы рассмотрим что такое сертификаты, какими они бывают, разберем подробно создание сертификата OpenSSL. Причем рассмотрим каждый этап, чтобы вам было легче понять что и как происходит.</p>
<h2>ЧТО ТАКОЕ СЕРТИФИКАТЫ?</h2>
<p>
  Думаю нужно начать с самого начала. Сертификаты в первую очередь позволяют идентифицировать человека, подтвердить что вы тот, за кого себя выдаете. А работает это так - есть два ключа - закрытый и открытый. Зашифровать сообщение можно с помощью открытого ключа, но чтобы его расшифровать нужен только закрытый ключ. Если у вас нет закрытого ключа, то вы попросту не сможете расшифровать зашифрованное сообщение. Фактически зашифровать сообщение может каждый, но расшифровать его способен только владелец закрытого (секретного ключа).
</p>
<p>
  Если вы смогли расшифровать отправленное сообщение, зашифрованное с помощью вашего открытого ключа, то значит - это вы. Ключи работают только в паре, и вы не сможете расшифровать ничего другим ключом. Но еще остался один момент. Как определить что этот открытый ключ именно ваш, например, принадлежит вашему домену? Все просто, достаточно, чтобы кто-то из авторитетных источников, например, Comodo или LetsEncrypt подписал ваш ключ. Это так называемые центры сертификации.
</p>
<h3>Итак:</h3>
<h3><b>Самоподписанный сертификат</b> — специальный тип сертификата, подписанный самим его субъектом.</h3>
<p>Технически данный тип ничем не отличается от сертификата, заверенного подписью удостоверяющего центра (УЦ), только вместо передачи на подпись в УЦ пользователь создаёт свою собственную сигнатуру. Проще говоря, создатель сертификата сам является в данном случае УЦ. Все корневые сертификаты доверенных УЦ являются самозаверенными.</p>

<p>В этой инструкции мы будем иметь дело с такими видами ключей:</p>
<ul>
  <li><b>.pem, .crt, .cer</b> - готовый, подписанный центром сертификации сертификат, расширения разные, но означают одно и то же. Если совсем просто, то сертификат, это подписанный открытый ключ, плюс немного информации о вашей компании;</li>
  <li><b>.key</b> - закрытый или открытый ключ;</li>
  <li><b>.csr</b> - запрос на подпись сертификата, в этом файле хранится ваш открытый ключ плюс информация, о компании и домене, которую вы указали.</li>
</ul>
<h2>Указания по выполнению лабораторной работы:</h2>
<ol>
  <li>Создать корневой сертификат.</li>
  <li>Создать сертификат для домена, подписанный корневым сертификатом</li>
  <li>Показать результаты преподавателю.</li>
</ol>
<p>
  А теперь рассмотрим как создать сертификат openssl, как его подписать и что для этого нужно сделать. Генерация ключей openssl - это довольно простая задача, если во всем разобраться.
</p>

<!--<p>Протокол HTTP не безопасен и все крупные сайты давно уже перешли на протокол https. Тенденция продолжается, и многие клиенты хотят, чтобы их сайт работал по защищенному протоколу.</p>
<p>На production нет проблем с сертификатами. Обычно хостинг провайдер предоставляет удобный интерфейс для подключения сертификата. Выпуск сертификата тоже дело не сложное. Но во время работы над проектом каждый разработчик должен позаботиться о сертификате сам.</p>
<p>Если сервера пренадлежат одной организации, то может быть проще и безопасней подписывать сертификаты самостоятельно, а не покупать.</p>-->


<p>Чтобы выпустить сертификат для вашего локального домена, понадобится корневой сертификат. На его основе будут выпускаться все остальные сертификаты. Да, для каждого нового top level домена нужно выпускать свой сертификат. Получить корневой сертификат достаточно просто.</p>
<h3>Сначала сформируем закрытый ключ:</h3>
<p>Чтобы создать закрытый ключ выполните такую команду:</p>
<p class="script-code">
  <b>openssl</b> genrsa -out rootCA.key 2048
</p>
<h3>Затем сам сертификат:</h3>
<p class="script-code">
  <b>openssl</b> req -x509 -new -nodes -key rootCA.key  -sha256 -days 1024 -out rootCA.pem
</p>

<p>
  Нужно будет ввести страну, город, компанию и т.д. В результате получаем два файла: rootCA.key и rootCA.pem
</p>
<p>Теперь перейдем к созданию сертификата подписаный нашим Root.pem</p>
<h3>
  Сгенерируем ключ сертификата и запрос на подпись для нашего домена:
</h3>
<p class="script-code">
  <b>openssl</b> genrsa -out server.key 2048
</p>
<p class="script-code">
  <b>openssl</b> req -new -key server.key -subj "/C=CA/ST=None/L=NB/O=None/CN=localhost" -out server.csr
</p>
<h3>Формируем файл сертификата:</h3>
<p>Для этого нам понадобится вспомогательный файл с настройками. В этот файл мы запишем домены, для которых будет валиден сертификат и некоторые другие настройки. Назовем его <b>v3.ext</b>. Обращаю ваше внимание, что это отдельный файл.</p>
<div class="script-code">
  <div>authorityKeyIdentifier=keyid,issuer</div>
  <div>basicConstraints=CA:FALSE</div>
  <div>keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment</div>
  <div>subjectAltName = @alt_names</div>
  <p></p>
  <div>[alt_names]</div>
  <div>DNS.1 = localhost</div>
  <div>DNS.2 = *.localhost</div>
</div>
<h3>И наконец, выпускаем сертификат, подписанный корневым сертификатом:</h3>
<p class="script-code">
  <b>openssl</b> x509 -req -in server.csr -CA rootCA.pem -CAkey rootCA.key -CAcreateserial -out server.crt -days 1000 -extfile v3.ext
</p>
<h3>В результате должны получить:</h3>
<ul>
  <li>rootCA.key</li>
  <li>rootCA.pem</li>
  <li>server.key</li>
  <li>server.crt</li>
</ul>
