:host
  width 100%
  margin-top 16px
  button
    width 100%
    margin 1px 0
    padding 10px
    font-size 18px
    font-weight 400
    border: 1px solid rgba(0,0,0,.2)
    box-sizing: border-box
    cursor pointer
    color white
    background-color lightgrey
  &.active
    button
      background-color rgb(65, 168, 201);
