app-create-todo
  .create-todo-container
    display flex
    flex-direction column
    padding: 10px 0
    text-align center
  .button-container
    display flex
    button
      width 100%
      cursor pointer
      color white
      background-color #08b0699e
  input, button
    padding 10px
    margin 1px 0
    font-size 18px
    font-weight 400
    border: 1px solid rgba(0,0,0,.2)