app-create-todo
  .create-todo-container
    display flex
    flex-direction column
  .button-container
    display flex
    button
      width 100%
      cursor pointer
      color white
      background-color limegreen
  input, button
    height 36px
    padding 10px
    margin 1px 0
    font-size 14px
    font-weight 400
    border: 1px solid rgba(0,0,0,.2)