:host
  color #818185
  font-size 16px
  .content
    display: flex
    width: 100vw
    height: 100vh
    overflow-y: hidden
    background-color whitesmoke

    .page
      margin 6vh 0 0 6vw
      width: 100%
      height: calc(100vh - 6vh)
      box-sizing border-box
      overflow auto
