<div class="container">
  <app-header></app-header>
  <div class="content">
    <app-navigation></app-navigation>
    <app-page-one *ngIf="navigationState.page === 0" [showStartPage]="showStartPage"
         class="page page-1"
         [@myAnimation]="navigationState.status | async">
    </app-page-one>
    <app-page-two *ngIf="navigationState.page === 1"
         [@myAnimation]="navigationState.status | async"
         class="page">
    </app-page-two>
    <app-page-three *ngIf="navigationState.page === 2"
         [@myAnimation]="navigationState.status | async"
         class="page">
    </app-page-three>
  </div>
</div>
<app-popup [show]="appState.showPopupState | async" (close)="onClosePopup()">
  <app-todo-logger *ngIf="(appState.showPopupState | async) === 'showLogger'" [loggs]="loggerState.loggs"></app-todo-logger>
  <app-auth *ngIf="(appState.showPopupState | async) === 'showAuthDialog'"></app-auth>
  <app-answer *ngIf="(appState.showPopupState | async) === 'showAnswerDialog'"></app-answer>
  <app-create-todo *ngIf="(appState.showPopupState | async) === 'showCreateDialog'"></app-create-todo>
  <app-update-todo *ngIf="(appState.showPopupState | async) === 'showUpdateDialog'" [todo]="appState.updateTodo"></app-update-todo>
  <app-laboratory-one *ngIf="(appState.showPopupState | async) === 'showLaboratoryOne'"></app-laboratory-one>
  <app-laboratory-two *ngIf="(appState.showPopupState | async) === 'showLaboratoryTwo'"></app-laboratory-two>
  <app-laboratory-three *ngIf="(appState.showPopupState | async) === 'showLaboratoryThree'"></app-laboratory-three>
  <app-laboratory-four *ngIf="(appState.showPopupState | async) === 'showLaboratoryFour'"></app-laboratory-four>
</app-popup>
<router-outlet></router-outlet>
