<div class="user-info">
    <h1 class="name">Имя: Александр</h1>
    <h1 class="lastName">Фамилия: Лобов</h1>
    <h1 class="role">Роль: Пользователь</h1>
</div>
<table>
    <tr>
        <td><input type="checkbox"/></td>
        <th>Task name</th>
        <th>Status</th>
        <th>Edit</th>
    </tr>

    <tr>
        <td><input type="checkbox"/></td>
        <td>task-1</td>
        <td>completed</td>
        <td>?</td>
    </tr>
    <tr>
        <td><input type="checkbox"/></td>
        <td>task-2</td>
        <td>completed</td>
        <td>?</td>
    </tr>
    <tr>
        <td><input type="checkbox"/></td>
        <td>task-2</td>
        <td>completed</td>
        <td>?</td>
    </tr>
    <tr>
        <td><input type="checkbox"/></td>
        <td>task-2</td>
        <td>completed</td>
        <td>?</td>
    </tr>
    <tr>
        <td><input type="checkbox"/></td>
        <td>task-3</td>
        <td>completed</td>
        <td>?</td>
    </tr>
</table>
<div class="button-content">
    <button (mySubmit)="appState.showCreateDialog = true">Создать</button>
    <button>Удалить</button>
</div>