:host
  display flex
  justify-content space-between
  margin 6vh 0 0 0 !important
  background-color white
  img
    border-radius: 12px
  h1
    color: white
    margin 0
  .main-image
    display flex
    background: url("../../../../assets/img/main-page.jpg") no-repeat
    background-size cover
    height: 25%
    margin: 1px 0
  header
    margin auto
    text-align center
