:host
  .image
    background: url(../../../../assets/img/id-aut-auth.png) no-repeat center
    background-size: contain
    height: 40vh
  table
    margin 0 auto
  td
    padding: 2px 10px
  .found
    background-color lightgreen
  form
    height: auto
    display: flex
    flex-direction: column
    width: 70%
    margin: 0 auto
  .checkbox-container
    display flex
    justify-content space-around
    padding: 10px
  .error-message
    text-align center
    color darkred
    padding: 10px
  .completed
    text-align center
    margin 10px 0
    padding 10px
    background-color lightgreen
    color white
