app-signup
  padding 0 2vw
  form
    display: flex
    flex-direction: column
    align-items: center
    input, button
      width 100%
      margin 1px 0
      padding 10px
      font-size 18px
      font-weight 400
      border: 1px solid rgba(0,0,0,.2)
      border-radius: 4px
      box-sizing: border-box
    button
      cursor pointer
      color white
      background-color #08b0699e
