:host
  .popup-container
    display flex
    position fixed
    top: 0
    left 0
    z-index: 1
    width 100vw
    height 100vh
    background-color: rgba(0,0,0,.5)
    .popup-content
      padding 0 18px
      margin 12vh auto
      height min-content
      background-color white
      border 1px solid transparent
      border-radius: 4px
    app-icon
      position absolute
      right: 6vw
      top: 9vh
      cursor pointer
      width 20px
      height 20px
      fill white
  & .hidden
      display none
