app-header
  display flex
  justify-content space-between
  align-items center
  .menu-container
    position relative
    button
      border none
      background-color: transparent
      cursor pointer
    .menu-button
      transition transform 0.3s
    .menu
      position absolute
      top 6vh
      right 0
      display flex
      flex-direction column
      width max-content
      padding: 10px 5px
      transform translateY(-100vh)
      transition transform 0.3s
      button
        margin 2px
        font-size 16px
  & .menu-active
      .menu-button
        transform rotate(90deg)
      .menu
        transform translateY(0px)