<h1>Ролевая политика безопасности</h1>
<article><b>Ролевая политика безопасности</b> представляет собой существенно усовершенствованную модель Харрисона–Руззо–Ульмана, однако ее нельзя отнести ни к дискреционным, ни к мандатным моделям.</article>
<article>В ролевой политике безопасности классическое понятие субъекта заменяется понятиями пользователь и роль. </article>
<article><b>Пользователь</b> – это человек, работающий с системой и выполняющий определенные служебные обязанности, а с понятием роли связывается набор полномочий, необходимых для выполнения этих служебных обязанностей.</article>
