<h1>Создание самоподписанного сертификата</h1>
<p>В наши дни очень часто для повышения безопасности сетевых соединений или просто для аутентификации используются ssl сертификаты. Одна из самых популярных свободных программ для создания сертификатов - это OpenSSL. Это утилита командной строки, которая позволяет создавать различные виды сертификатов, например, PKI или HTTPS.</p>
<p>Что такое сертификаты, какими они бывают? В данном разделе разберемся подробно создание сертификата OpenSSL. Причем рассмотрим каждый этап, чтобы вам было легче понять что и как происходит.</p>
<h2>ЧТО ТАКОЕ СЕРТИФИКАТЫ?</h2>
<p>
  Думаю нужно начать с самого начала. Сертификаты в первую очередь позволяют идентифицировать человека, подтвердить что вы тот, за кого себя выдаете. А работает это так - есть два ключа - закрытый и открытый. Зашифровать сообщение можно с помощью открытого ключа, но чтобы его расшифровать нужен только закрытый ключ. Если у вас нет закрытого ключа, то вы попросту не сможете расшифровать зашифрованное сообщение. Фактически зашифровать сообщение может каждый, но расшифровать его способен только владелец закрытого (секретного ключа).
</p>
<p>
  Если вы смогли расшифровать отправленное сообщение, зашифрованное с помощью вашего открытого ключа, то значит - это вы. Ключи работают только в паре, и вы не сможете расшифровать ничего другим ключом. Но еще остался один момент. Как определить что этот открытый ключ именно ваш, например, принадлежит вашему домену? Все просто, достаточно, чтобы кто-то из авторитетных источников, например, Comodo или LetsEncrypt подписал ваш ключ. Это так называемые центры сертификации.
</p>

<p>В этой инструкции мы будем иметь дело с такими видами ключей:</p>
<ul>
  <li><b>.pem, .crt, .cer</b> - готовый, подписанный центром сертификации сертификат, расширения разные, но означают одно и то же. Если совсем просто, то сертификат, это подписанный открытый ключ, плюс немного информации о вашей компании;</li>
  <li><b>.key</b> - закрытый или открытый ключ;</li>
  <li><b>.csr</b> - запрос на подпись сертификата, в этом файле хранится ваш открытый ключ плюс информация, о компании и домене, которую вы указали.</li>
</ul>
<p>
  А теперь рассмотрим как создать сертификат openssl, как его подписать и что для этого нужно сделать. Генерация ключей openssl - это довольно простая задача, если во всем разобраться.
</p>
<h2>
  СОЗДАНИЕ ЗАКРЫТОГО КЛЮЧА И ЗАПРОСА НА ПОДПИСЬ
</h2>
<p>
  Вам необязательно подписывать сертификаты в центре сертификации CA, вы можете подписать их сами, но об этом потом. Весь процесс вам так и так придется пройти. Сначала рассмотрим как создать закрытый ключ с нуля, и указать необходимую информацию. Это CN, где должно быть указанно ваше доменное имя, для которого вы собираетесь использовать сертификат, также можно указать дополнительную информацию о вашей компании, адресе и организации, но это уже необязательно.
</p>
<p>
  Чтобы создать закрытый ключ и запрос на подпись открытого ключа выполните такую команду:
</p>
<p class="script-code">
  <b>openssl</b> req -newkey rsa:2048 -nodes -keyout domain.key -out domain.csr
</p>
<p>
  Опция -newkey указывает, что нужно создать новую пару ключей, а в параметрах мы сообщаем тип rsa и сложность 2048 байт. Опция -nodes указывает, что шифровать ключ не нужно, опция -new указывает что нужно создать запрос csr. Если у вас уже есть закрытый ключ, то вы можете создать для него csr запрос такой командой:
</p>
<p class="script-code">
  <b>openssl</b> req -key domain.key -new -out domain.csr
</p>
<p>
  Во время создания вам нужно будет указать всю необходимую информацию для csr, это в первую очередь домен и организация. Можно создавать закрытый ключ отдельно:
</p>
<p class="script-code">
  <b>openssl</b> genrsa -des3 -out domain.key 2048
</p>
<p>
  Кроме того, можно создать csr запрос из уже существующего сертификата и закрытого ключа, тогда вам не придется вводить информацию, она будет получена из сертификата:
</p>
<p class="script-code">
  <b>openssl</b> x509 -in domain.crt -signkey domain.key -x509toreq -out domain.csr
</p>
<p>
  Параметр -x509toreq указывает, что нужно использовать сертификат для X509 для получения CSR. X509, это сертификаты, подписанные сами собой. Обычно сертификат подписывается другим сертификатом, а этот был подписан сам собой. Если вы получили сертификат от CA, то этот параметр не нужен.
</p>
<h2>
  ПОДПИСЬ СЕРТИФИКАТОВ OPENSSL
</h2>
<p>
  Допустим, у вас есть приватный ключ и запрос на подпись, фактически, открытый ключ. Теперь вам нужно его подписать чтобы получить сертификат, который можно использовать. Тут есть несколько вариантов. Можно отправить csr файл на подпись какому-либо центру сертификации, например, LetsEncrypt. Можно подписать сертификат тем же ключом, с помощью которого он был создан, и третий вариант - создать свой центр сертификации.
</p>
<p>
  Первый способ я рассматривать не буду. Здесь все просто. Либо используете утилиту сервиса, либо заполняете веб форму и получаете готовый сертификат. Второй вариант гораздо интереснее. Мы подпишем наш сертификат сами, ключом, на основе которого он был создан:
</p>
<p class="script-code">
  <b>openssl</b> x509 -signkey domain.key -in domain.csr -req -days 365 -out domain.crt
</p>
<p>
  С помощью параметра -days мы указываем что сертификат будет действительным в течение 365 дней, то есть в течение года. Вы можете объединить все в одну команду и сразу создать закрытый ключ, csr и подписанный сертификат:
</p>
<p class="script-code">
  <b>openssl</b> req -newkey rsa:2048 -nodes -keyout domain.key -x509 -days 365 -out domain.crt
</p>
<p>
  Или создаем самоподписанный сертификат openssl из существующего закрытого ключа без csr:
</p>
<p class="script-code">
  <b>openssl</b> req -key domain.key -new -x509 -days 365 -out domain.crt
</p>
<p>
  Опция -new говорит, что нужно запросить информацию о csr у пользователя. Чтобы браузер доверял ключу нужно этот же сертификат импортировать в список доверенных. А теперь рассмотрим третий способ выполнить создание сертификата OpenSSL - подписать его с помощью собственного CA, центра сертификации.
</p>
<p>
  Вот вы сейчас думаете что это что-то такое сложное, да? А нет, это обычная папка, в которой лежит защищенный паролем закрытый ключ, с помощью которого мы будем подписывать все другие ключи. А открытая пара этого ключа должна быть добавлена во все браузеры, которые будут ему доверять.
</p>
<p>
  Вообще, центр сертификации в крупных корпорациях находится на отдельных компьютерах, которые даже к сети не подключены. Но для примера мы разместим папку в нашей файловой системе /etc/:
</p>
<p class="script-code">
  mkdir /etc/ca/
</p>
<p>
  Дальше нужно создать самоподписанный сертификат openssl для нашего CA:
</p>
<p class="script-code">
  <b>openssl</b> req -newkey rsa:4096 -x509 -extensions x509_ca -keyout /etc/ca/certs/ca.key -out /etc/ca/certs/ca.crt -days 3654
</p>
<p>
  Параметр  -extensions загружает необходимые расширения для создания сертификата центра сертификации. Мы устанавливаем долгий строк действия - десять лет. Осталось подписать наш сертификат, созданный ранее:
</p>
<p class="script-code">
  <b>openssl</b> ca -extensions x509_client -in ~/domain.csr -out ~/domain.crt
</p>
<p>
  Готово, теперь наш сертификат подписан. Но теперь, чтобы браузеры ему доверяли нужно добавить сертификат CA в список доверенных браузера.
</p>
<h2>
  ПРОСМОТР СЕРТИФИКАТОВ
</h2>
<p>
  Сертификаты сохраняются в формате pem, а это значит, что вы не сможете их открыть как текстовый файл и нужно использовать специальные команды для просмотра информации о них. Сначала смотрим содержимое csr:
</p>
<p class="script-code">
  <b>openssl</b> req -text -noout -verify -in domain.csr
</p>
<p>
  Смотрим содержимое сертификата в режиме обычного текста:
</p>
<p class="script-code">
  <b>openssl</b> x509 -text -noout -in domain.crt
</p>
<p>
  Проверяем действительно ли сертификат подписан нужным CA:
</p>
<p class="script-code">
  <b>openssl</b> verify -verbose -CAfile ca.crt domain.crt
</p>
<p>
  Просмотр закрытого ключа:
</p>
<p class="script-code">
  <b>openssl</b> rsa -check -in domain.key
</p>
<p>
  Чтобы проверить связаны ли между собой закрытый ключ, сертификат и открытый ключ можно подсчитать сумы md5 для этих ключей, если значения совпадут, то есть вероятность что это ключи из одной пары:
</p>
<div class="script-code">
  <p>
    <b>openssl</b> rsa -noout -modulus -in domain.key | openssl md5
  </p>
  <p>
    <b>openssl</b> x509 -noout -modulus -in domain.crt | openssl md5
  </p>
  <p>
    <b>openssl</b> req -noout -modulus -in domain.csr | openssl md5
  </p>
</div>
<h2>
  ВЫВОДЫ
</h2>
<p>
  В этой статье мы рассмотрели как выполняется генерация сертификата openssl, какие бывают сертификаты, ключи и как все эти понятия связаны между собой. Это очень сложная и обширная тема, и недостаточно одной статьи чтобы все охватить, но, надеюсь, что теперь вам намного понятнее как это все работает.
</p>
