:host
  padding 0 2vw
  background-color white
  form
    height: auto
    display: flex
    flex-direction: column
    transition: height 3s ease-out
  select
    width: 100%
    padding: 10px 0
    font-size: 18px
    font-weight: 400
    box-sizing: border-box
    border: none
    color: #818185
    border-bottom: 1px solid #a9a9a9
    outline: none
